<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Assignment/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [20]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [21]:
# Store the lowest temperature 
min_temp =  min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [23]:
# Swap the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

In [24]:
# Print the output list
temperatures

[34, 40, 42, 33, 29, 37, 39]

# Problem 2

**Measures of Averages**



*   Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
*   Median is the middle number in a sorted, ascending or descending, list of numbers. 
If the list has ***N*** numbers where ***N*** is odd, then median is the element in the middle i.e, 
 (N+1)/2 element. If **N** is even, then median is the mean of (n/2) and (N/2+1) elements

In [13]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [31]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list) /  len(prod_price_list)

mean_price

1975.0

# **Calculate the median price**

In [25]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)

In [26]:
# Check if the number of elements in the list is even or odd
len(sorted_prices) % 2 ==0

True

In [28]:
from statistics import median
# Use the corresponding formula to calculate the median and print the median
length_list = len(sorted_prices)
median_price = (sorted_prices[int(length_list/2)-1]+sorted_prices[int(length_list/2)])/2
median_price

575.0

In [32]:
# Check which is greater, mean or median
mean_price > median_price

True

**Why do you think that is the case??**

**Write your explanation in this text cell**

**Your explanation :**

#Problem 3
Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [39]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [40]:
# Write your code below
last_element = tech_companies[-1]
companies = tech_companies[:3]+tech_companies[-1]
companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [41]:
# Do the same task another way
tech_companies.remove(last_element)

tech_companies.extend(last_element)
tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']