<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Assignment/blob/main/Assignment_Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem 1**
You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with.

For example, https://www.example.com/market.php -- In this example, domain name is www.example.com and the ending string is php

In [1]:
import numpy as np
import pandas as pd

In [2]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.almabetter.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [5]:
url_list[0].split('//')[-1].split('/')[0]

'blog.hubspot.com'

In [15]:
# Extract the domains and the ending string. Hint : use the split method for a string

domain_list = []
for elem in url_list:
  domain_list.append(elem.split('//')[-1].split('/')[0])
print(domain_list)

ending_string_list = []
for elem in url_list:
  ending_string_list.append(elem.split('//')[-1].split('/')[-1].split('-')[-1].split('.')[-1])
print(ending_string_list)

['blog.hubspot.com', 'www.almabetter.com', 'pandas.pydata.org', 'www.programiz.com']
['url', 'enrollments', 'html', 'list']

**Next create a pandas dataframe with the above three lists.**

In [16]:
# Your code here. Hint : zip the three lists
df=pd.DataFrame(zip(domain_list, ending_string_list),columns=['Domains','End Tags'])
df

              Domains     End Tags
0    blog.hubspot.com          url
1  www.almabetter.com  enrollments
2   pandas.pydata.org         html
3   www.programiz.com         list