<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Assignment/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [11]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = max(temperatures)
print('temperatures =',max_temp_index)

temperatures = 42

In [6]:
# Store the lowest temperature 
min_temp =  min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = min(temperatures)

In [ ]:
# Swap the highest and the lowest temperatures

In [12]:
# Print the output list
print('temperatures =',min_temp_index)

temperatures = 29

# Problem 2

**Measures of Averages**



*   Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
*   Median is the middle number in a sorted, ascending or descending, list of numbers. 
If the list has ***N*** numbers where ***N*** is odd, then median is the element in the middle i.e, 
 (N+1)/2 element. If **N** is even, then median is the mean of (n/2) and (N/2+1) elements

In [13]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [17]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
def mean(prod_price_list):
  return sum(prod_price_list) /  len(prod_price_list)

mean(prod_price_list)

1975.0

# **Calculate the median price**

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices =

In [ ]:
# Check if the number of elements in the list is even or odd

In [ ]:
# Use the corresponding formula to calculate the median and print the median
median_price =

In [ ]:
# Check which is greater, mean or median

**Why do you think that is the case??**

**Write your explanation in this text cell**

**Your explanation :**